.body{
  /*C9F5D1 -> Couleur verte Monopoly*/
  background-color:  #FFFFFF; 
}

.Douapolis{
  position: relative;
  display: inline-block;
  width: auto; 
  border: 5px solid #FFFFFF; 
  box-shadow: 4px 4px 4px #444; 
  background-color: #cb1600; 
  color: #FFFFFF; 
	font-family: ui-monospace; 
  left: 50%;
  margin-top: 70px;
  transform: translate(-50%,-50%);
}

.Profil{
  position: absolute; 
  width: 3em; 
  border: 5px solid #FFFFFF; 
  color: #FFFFFF; 
  left: 98%; 
  top: 17%; 
  transform: translate(-50%,-50%); 
  border-radius: 50px;
}

.Accueil{
  position: absolute; 
  width: 3em; 
  border: 5px solid #FFFFFF; 
  color: #FFFFFF; 
  left: 2%; 
  top: 17%; 
  transform: translate(-50%,-50%); 
  border-radius: 50px;
}
		
.Centre{
  position:relative; 
  width: 50em; 
  height: 25em; 
  box-shadow: 4px 4px 4px #444; 
  background-color: rgba(210, 210, 210, 0.5); 
  color: #FFFFFF; 
	font-family: ui-monospace; 
  left: 50%;
  margin-top: 13em; 
  border-radius: 25px;
  transform: translate(-50%,-50%);
}

.Attente{
  position:relative; 
  width: 50em; 
  height: 25em; 
  left: 50%;
  margin-top: 13em; 
  transform: translate(-50%,-50%);
}
/* Quand je change la couleur de mon background,j'ai un soucis car la couleur 
ne prend pas tout l'écran, il faudrait mettre un footer qui se colle à la derniere div
.Pied{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: ??? px;
  background: #000000;
  color: #FFFFFF;
}
*/
.rejPartie{
  left: 50%; 
  top: 68%; 
  transform: translate(-50%,-50%); 
  position: absolute; 
  width: 27em; 
  font-family: ui-monospace;
  border-radius: 8px;
}

.Partie{
  left: 50%; 
  top: 65%; 
  transform: translate(-50%,-50%); 
  position: absolute; 
  width: 20em; 
  background-color: #1768ff; 
  color: #FFFFFF; 
  font-family: ui-monospace;
  border-radius: 8px;
}

.Connexion{
  left: 50%; 
  top: 50%; 
  transform: translate(-50%,-50%); 
  position: absolute; 
  color: #000000; 
  font-family: ui-monospace;
  text-align: center;
}

.Inscription{
  left: 50%; 
  top: 50%; 
  transform: translate(-50%,-50%); 
  position: absolute; 
  width: 20em; 
  color: #000000; 
  font-family: ui-monospace;
  text-align: center;
}

.button1{
  position: absolute; 
  left: 50%; 
  top: 31%; 
  transform: translate(-50%,-50%);
}
			
.button2{
  position: absolute;
  left: 93%; 
  top: 90%; 
  transform: translate(-50%,-50%); 
}

.button3{
  position: absolute;
  left: 50%; 
  top: 80%; 
  transform: translate(-50%,-50%); 
}

.nbaleatoir{
  position: absolute;
  left: 60%;
  top: 20%;
}

.plateau{
  position: relative;
  left : 25%;
}

.banque{
  position: absolute;
  left: -30%;
  top: 20%;
}

p{
  color: #000000;
}